.ToastWrapper {
  border: 2px solid black;
  margin: auto;
  height: 12%;
  width: 30%;
  position: fixed;
  bottom: 10%;
  left: 40%;
  color: white;
}


.ButtonStyles {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: auto;
  font-weight: bold;
  width:100%;
}